[2018-07-26 07:56] adamsilver opened #1 "Asking users for names"
- Old RPL page: https://reform-pattern-library.herokuapp.com/components/names
- GOV.UK Design System page: https://design-system.service.gov.uk/patterns/names/

I believe our guidance is now redundant given the GOV.UK Design System matches our own guidance.

I suggest we remove .our version.

[2018-07-26 07:58] adamsilver opened #2 "Asking users for addresses (address lookup)"
- RPL:  https://reform-pattern-library.herokuapp.com/components/address-lookup
- GOV.UK Design System: https://design-system.service.gov.uk/patterns/addresses/

I think our own version is now redundant and I suggest we remove this pattern.

[2018-07-26 08:00] adamsilver opened #3 "Collapsibles"
- RPL: https://reform-pattern-library.herokuapp.com/components/collapsibles
- GOV.UK Design System: https://design-system.service.gov.uk/components/details/

Our collapsible component seems to be a number of “Details” components with borders.

- Are the borders really needed? If so we can apply a modifier class to the Details component.

I suggest we remove our version.

[2018-07-26 08:02] adamsilver opened #4 "Dates"
- RPL: https://reform-pattern-library.herokuapp.com/components/dates
- GOV.UK Design System: https://design-system.service.gov.uk/components/date-input/ and https://design-system.service.gov.uk/patterns/dates/

This is now redundant. I suggest removal.

[2018-07-26 08:07] adamsilver opened #5 "Upload a file"
- RPL: https://reform-pattern-library.herokuapp.com/components/document-upload

Questions:

- Drag and drop is not normally understood. Have we clarified a need for drag and drop? Is this in use anywhere and do we have an usage stats?
- In the example, it seems vital the user reads the instructions. I think a flow may be better as per the passport renewal service who did a lot of research for this

[2018-07-26 08:08] adamsilver opened #6 "Tabs"
- RPL: https://reform-pattern-library.herokuapp.com/components/tabs
- GOV.UK Design System: https://design-system.service.gov.uk/components/tabs/

Our tab component is now redundant. I think this should be removed.

[2018-07-26 08:09] adamsilver opened #7 "Add another"
- RPL: https://reform-pattern-library.herokuapp.com/components/add-another

There is no component for this in the GOV.UK Design System. We'll create an improved robust version of what's currently in the RPL.

I'd like to review the name of this component.

And we also need guidance as to when to use it.

[2018-07-26 08:12] adamsilver opened #8 "Progress bar"
- RPL: https://reform-pattern-library.herokuapp.com/components/progress-bar
- GOV.UK Design System: none

This component is needed.

[2018-07-26 08:13] adamsilver opened #9 "Phase banners"
- RPL: https://reform-pattern-library.herokuapp.com/elements/alpha-beta-banners
- GOV.UK Design System: https://design-system.service.gov.uk/components/phase-banner/

No longer needed. Let's remove.

[2018-07-26 08:30] adamsilver opened #10 "Buttons"
- RPL: https://reform-pattern-library.herokuapp.com/elements/buttons
- GOV.UK Design System: https://design-system.service.gov.uk/components/button/

There are no secondary or tertiary button styles in GOV.UK, so we'll create those with modifier classes.

[2018-07-26 08:35] adamsilver opened #11 "Form elements"
- RPL: https://reform-pattern-library.herokuapp.com/elements/form-elements

All of the form controls are provided in the GOV.UK Design System.

There's no need for us to have these.

[2018-07-26 09:10] adamsilver opened #12 "Page not found"
- RPL: https://reform-pattern-library.herokuapp.com/pages/404
- GOV.UK DS: https://design-system.service.gov.uk/patterns/page-not-found-pages/

We can remove ours.

[2018-07-26 09:10] adamsilver opened #13 "Start page"
- RPL: https://reform-pattern-library.herokuapp.com/pages/start-page
- GOV.UK DS: https://design-system.service.gov.uk/patterns/start-pages/

We can remove our page.

[2018-07-26 09:12] adamsilver opened #14 "Service unavailable pages (shutter pages/503s)"
- RPL: https://reform-pattern-library.herokuapp.com/pages/shutter-planned and https://reform-pattern-library.herokuapp.com/pages/shutter-unplanned
- GOV.UK DS: https://design-system.service.gov.uk/patterns/service-unavailable-pages/

We should remove ours, unless we want to recommend content templates.

[2018-07-26 09:13] adamsilver opened #15 "Statement of truth"
TBD

[2018-07-26 09:17] adamsilver opened #16 "Create account / Self registration"
- RPL: https://reform-pattern-library.herokuapp.com/journeys/self-registration
- GOV.UK DS: https://design-system.service.gov.uk/patterns/create-accounts/ and https://design-system.service.gov.uk/patterns/confirm-an-email-address/ and https://design-system.service.gov.uk/patterns/create-a-username/

This might be a number of patterns.

[2018-07-26 09:18] adamsilver opened #17 "Apply"
- RPL: https://reform-pattern-library.herokuapp.com/journeys/application-journey
- GOV.UK DS: https://design-system.service.gov.uk/patterns/start-pages/ and https://design-system.service.gov.uk/patterns/task-list-pages and https://design-system.service.gov.uk/patterns/question-pages/ and https://design-system.service.gov.uk/patterns/confirmation-pages/

Would suggest we restructure our guidance. C

[2018-07-26 09:27] adamsilver opened #18 "Check and declare"
TBD

[2018-07-27 06:07] adamsilver opened #19 "Invite another person"

[2018-07-27 06:08] adamsilver opened #20 "Pay"

[2018-07-27 06:10] adamsilver opened #21 "Sign up for notifications"

[2018-07-27 06:10] adamsilver opened #22 "Sign up on behalf of someone else"

[2018-07-27 06:12] adamsilver opened #23 "Cookie policy"
- RPL: https://reform-pattern-library.herokuapp.com/content/cookie-policy
- HMCTS DS: http://hmcts-design-system.herokuapp.com/patterns/cookie-policy

This has been ported across but we need to add guidance.

[2018-07-27 06:12] adamsilver opened #24 "Privacy policy"
- RPL: https://reform-pattern-library.herokuapp.com/content/privacy-policy
- HMCTS DS: http://hmcts-design-system.herokuapp.com/patterns/privacy-policy

This has been ported across but it still needs guidance.

[2018-07-27 06:12] adamsilver opened #25 "Terms and conditions"
- RPL: https://reform-pattern-library.herokuapp.com/content/terms-and-conditions
- HMCTS DS: http://hmcts-design-system.herokuapp.com/patterns/terms-and-conditions

This has been ported across but needs guidance.

**Note**: in RPL it's marked as “Internal use only” but I don't think this should be a tag because it should be easy to find even if there is another variant for citizen facing sites. In

[2018-07-27 06:31] adamsilver opened #26 "Entity/case navigation component"
## Component

![image](https://user-images.githubusercontent.com/37163/43305291-1dbdd276-916f-11e8-82ad-b91fc0d037bb.png)

## In situ (desktop)

![image](https://user-images.githubusercontent.com/37163/43305784-d7ee0fde-9170-11e8-914d-7a019686d91e.png)

## In situ (mobile)

![image](https://user-images.githubusercontent.com/37163/43305742-c017f64a-9170-11e8-832a-1541ef18862c.png)

[2018-07-27 06:32] adamsilver opened #27 "Entity/case bar component"
## Component

![image](https://user-images.githubusercontent.com/37163/43305301-2d8a1066-916f-11e8-8518-c462e153a721.png)

## In situ (desktop)

![image](https://user-images.githubusercontent.com/37163/43305550-1d8051a2-9170-11e8-89b8-bfc8464f1fe4.png)

## In situ (mobile)

![image](https://user-images.githubusercontent.com/37163/43305833-0b7e30f4-9171-11e8-8a19-13c399af1390.png)

[2018-07-27 06:33] adamsilver opened #28 "Entity/case actions"
## Component

![image](https://user-images.githubusercontent.com/37163/43305418-a1e2f360-916f-11e8-9c9c-f17993d8e142.png)

## In situ (desktop)

![image](https://user-images.githubusercontent.com/37163/43305544-171a8828-9170-11e8-8f24-aaad055010a9.png)

## In situ (mobile)

![image](https://user-images.githubusercontent.com/37163/43305718-b15fabde-9170-11e8-817f-3de477ff5821.png)

[2018-07-27 06:36] adamsilver opened #29 "Header variant with alerts"
![image](https://user-images.githubusercontent.com/37163/43305466-d22b3730-916f-11e8-8b42-ea1a78c64022.png)

I haven't seen a use for the jurisdiction nav so I think we can remove this part from the ticket.

[2018-07-27 06:37] adamsilver opened #30 "Primary navigation two variants for global search"
We already have a [primary navigation](http://hmcts-design-system.herokuapp.com/components/primary-navigation) component in the design system. We need to add a variant that can take two search form variants:

## (1) Inline search

![image](https://user-images.githubusercontent.com/37163/46787267-18523d80-cd2f-11e8-9397-44073c7d196a.png)

Mobile:
![image](https://user-images.githubusercontent.com/3

[2018-08-01 12:59] FranW1 opened #31 "Help and feedback"
We are working on a common pattern for capturing user help and feedback within services.

<img width="555" alt="screen shot 2018-08-01 at 13 58 13" src="https://user-images.githubusercontent.com/30631036/43523052-10aa311a-9593-11e8-80e5-d74f6f7a55cb.png">

[2018-08-02 06:33] blowfishsoup commented on #30
Is there a way we could distinguish visually between the header and the navigation bar perhaps?
![header and global navigation example](https://user-images.githubusercontent.com/6122620/43566406-2c653a06-9626-11e8-883d-548f40131699.png)

[2018-08-02 06:39] trevorsaint commented on #8
This has been done. The branch needs to be merged into master.

[2018-08-02 06:48] blowfishsoup commented on #31
Could/should we include an instant messaging option in there too?

[2018-08-02 07:28] blowfishsoup commented on #7
Could we use stylised buttons instead maybe?
![add another](https://user-images.githubusercontent.com/6122620/43568914-d9185916-962d-11e8-8c96-369b6b0f7322.png)

[2018-09-06 10:21] robarmes opened #32 "Currency input"
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/36768467/45151824-463fe180-b1c7-11e8-903c-2e8c3530cf68.gif)

[2018-09-06 10:56] robarmes commented on #32
**When to use this component**
Use the Currency input component whenever you need users to tell you an amount of money in a particular currency, for example pounds sterling or euros.

**How it works**
The Currency input component shows users which unit of currency they need to enter their amount in. (there is some hidden, screen-reader friendly label text on those inputs, for example “Enter amount

[2018-09-06 12:54] robarmes commented on #32
See example in one of our payment prototypes:
https://fee-register-prototype.herokuapp.com/currency-input

[2018-09-06 13:30] robarmes opened #33 "Summary/details view patten"
Desktop credit payment
<img width="538" alt="screen shot 2018-09-06 at 14 28 22" src="https://user-images.githubusercontent.com/36768467/45160455-68465d80-b1e1-11e8-94ce-7179fab610f7.png">

Desktop card payment
<img width="541" alt="screen shot 2018-09-06 at 14 28 33" src="https://user-images.githubusercontent.com/36768467/45160460-6c727b00-b1e1-11e8-90eb-0468fa8839ed.png">

Mobile credit payment

[2018-09-06 13:38] robarmes commented on #33
**When to use this component**
Use the payment summary component whenever you need to display the details of a payment transaction which is for a fee.

The summary shows:

- Payment reference (generated by payhub) and amount paid

- Details of the fee the payment is covering

- Details of the payment method used

- Details of the payment status and it's history

**How it works**
Built as a reusabl

[2018-09-25 12:18] PamelaWoods commented on #29
The Header in the HMCTS Design System library does not follow the patterns here.  Update the pattern library please asap.

[2018-09-25 12:20] PamelaWoods commented on #31
@PeteWilliams - Art was writing stories with Denise a few weeks ago to get the Help & Feedback module built.  Can we get the frontend designs into the pattern library please as a PATTERN.

[2018-09-25 12:23] PamelaWoods opened #34 "Alerts"
@trevorsaint - please update the Alerts section on the HMCTS Pattern Library as discussed in Design Crit on 29 August.
- Break out Alerts into Confirmation of tasks (in page) and Confirmation Page.
- Create a warning section & add warning alert there.
- Remove information alert and look at introducing an 'Add new comment' button to JUI.  (This may now be out of date given changes to Annotation).

[2018-09-25 12:24] PamelaWoods opened #35 "Footer"
@trevorsaint - add a footer pattern in library as discussed in Design Crit on 29 Aug 2018.

- Add footer without Crown.  We're too unclear what Crown Copyright is.  More full branding exercise will need to be done for staff interface (use of HMCTS logo etc) and Judiciary.

[2018-09-26 11:44] DeniseHampson commented on #31
Here is a link to the latest prototype for the help and feedback pages. And the designs are shown below.

https://reformhelp.herokuapp.com/start
user: reform
pass: help

[2018-09-26 11:47] DeniseHampson commented on #31
![help web forms-11](https://user-images.githubusercontent.com/41999075/46077884-50337f80-c18a-11e8-8b69-7a27ee0eb194.jpg)

![help web forms v2-11](https://user-images.githubusercontent.com/41999075/46734168-59444680-cc8a-11e8-9dba-89d1538f06e3.jpg)

![help web forms-13](https://user-images.githubusercontent.com/41999075/46077898-5de90500-c18a-11e8-899b-8a709493d012.jpg)

[2018-09-26 12:20] adamsilver commented on #20
https://design-system.service.gov.uk/patterns/payment-card-details/

[2018-09-26 12:20] adamsilver commented on #20
Closing as in the GOV.UK Design System

[2018-09-26 12:20] #20 closed, assigned to nobody

[2018-09-26 12:21] adamsilver commented on #3
Closing as in the GOV.UK Design System

[2018-09-26 12:21] #3 closed, assigned to nobody

[2018-09-26 12:23] adamsilver commented on #10
The secondary button is done

[2018-09-26 12:23] #10 closed, assigned to nobody

[2018-09-26 12:24] adamsilver opened #36 "Tertiary button"
Not in the GOV.UK Design System.

[2018-09-26 12:26] adamsilver commented on #34
The Confirmation Page pattern is in the GOV.UK Design System
https://design-system.service.gov.uk/patterns/confirmation-pages/

[2018-09-26 12:28] adamsilver commented on #26
Done—this is the Secondary Navigation component

[2018-09-26 12:28] #26 closed, assigned to trevorsaint

[2018-09-26 12:30] adamsilver commented on #28
We no longer have the case action bar—it's just buttons next to the page's H1

![image](https://user-images.githubusercontent.com/37163/46079899-588eb900-c190-11e8-870e-9ee4229d38c4.png)

![image](https://user-images.githubusercontent.com/37163/46079908-5f1d3080-c190-11e8-952c-5ada79753997.png)

[2018-09-26 12:33] #12 closed, assigned to nobody

[2018-09-26 12:36] #9 closed, assigned to nobody

[2018-09-26 12:36] adamsilver commented on #7
Done

[2018-09-26 12:36] #7 closed, assigned to nobody

[2018-09-26 12:36] #6 closed, assigned to nobody

[2018-09-26 12:36] #4 closed, assigned to nobody

[2018-09-26 12:45] PamelaWoods commented on #29
Content for guidance on Header sent to Trevor on 26 Sept 2018

[2018-09-28 16:27] FranW1 opened #37 "Common button text"
Hello,
We have some common button text to add to the library:

Submit | Used at the end of the application to submit the data when all fields are complete.
Add another | Used to add another item.
Pay | Used to make a payment on the confirmation page from GOV.UK.
Sign in | Used to sign in to an account that has already been set up.
Sign out | Used to sign out of account.
Start | Used at the start o

[2018-10-10 12:06] trevorsaint commented on #35
This has been done.

[2018-10-10 12:06] #35 closed, assigned to nobody

[2018-10-10 12:13] PamelaWoods commented on #36
Please remove.  No need for this identified.

[2018-10-10 12:13] #36 closed, assigned to nobody

[2018-10-10 12:22] PamelaWoods commented on #33
Add a page to PATTERNS.  Needs to be named properly - review with Liz Jordan.
This is a copy of Check Your Answers to replay information back to people.

[2018-10-10 12:24] PamelaWoods commented on #31
Add this to PATTERNS.
Create a gif to show the flow.
Use the latest designs.

[2018-10-10 12:27] PamelaWoods opened #38 "Run workshop on content editing in Pattern Library and how to add components"

[2018-10-10 12:29] PamelaWoods commented on #30
Update design to reflect the right place for the CASE-LEVEL Action Buttons

[2018-10-10 12:31] PamelaWoods opened #39 "Global action buttons variant when too many to fit"
Current pattern is a drop-down.  What happens when more than 5 actions in the drop-down?
Rob Armes had an example from Fees & Payments.
Discuss in a Design Crit.

[2018-10-10 12:35] #25 closed, assigned to nobody

[2018-10-10 12:35] #24 closed, assigned to johndoates

[2018-10-10 12:36] #23 closed, assigned to nobody

[2018-10-10 12:37] #22 closed, assigned to nobody

[2018-10-10 12:38] #21 closed, assigned to nobody

[2018-10-10 12:42] PamelaWoods commented on #19
Example in Divorce - respondent journey. CMC - respondent journey.  Covers PIN in Post.
Chris Neale - to add a link to the Divorce prototype to example how this works.
Create a gif to demonstrate it.

[2018-10-10 12:43] gonogo commented on #19
This is the divorce journey for using the 'pin-in-the-post' inviting the respondent into a case: https://divorce-prototype.herokuapp.com/aos/letters/invitation. Ask @gonogo for passwords if you don't already have them.

[2018-10-10 12:45] PamelaWoods opened #40 "Add letter/SMS templates"
To include:
- PIN in the Post letter
- SMS (text message) - see example in SSCS

[2018-10-10 12:48] PamelaWoods commented on #18
Create a Declaration section in the Pattern library.
Content to discern when to use the declaration patterns - for citizens, for soliticors.

[2018-10-10 12:53] PamelaWoods commented on #16
Add a page in Pattern Library to hold a link to the IdAM self-registration journey so that all designers can always see the latest IdAM screens.
PLEASE SPEAK TO ROBIN DIAMOND.

[2018-10-10 12:57] PamelaWoods commented on #15
Create one section in Pattern Library for declarations/statement of truth.
Show the differences for Probate & Divorce, citizens and solicitors.

[2018-10-10 12:58] #14 closed, assigned to nobody

[2018-10-10 13:01] PamelaWoods opened #41 "Review planned/unplanned pages used in services"
Should reference the GDS Design Pattern library shutter pages which exist.

[2018-10-11 07:35] adamsilver commented on #29
@trevorsaint does the global navigation items allow us to enter “Alerts (1)” with visual styling? If so we can close this ticket, but we should add an example to the design system first.

[2018-10-11 07:37] adamsilver commented on #28
Case bar is now “Details bar” in the design system:
http://hmcts-design-system.herokuapp.com/components/details-bar

Will close this ticket and open a new one just for the action buttons.

[2018-10-11 07:37] #28 closed, assigned to adamsilver

[2018-10-11 07:38] adamsilver opened #42 "Global action buttons"
We have some internal facing services that need to let users perform actions at any time. We've seen this in JUI, PUI, fees and payments. We've also seen this in other x-government systems such as CJS:

![image](https://user-images.githubusercontent.com/37163/46870556-d6a4be00-ce26-11e8-87cc-66ca887ff708.png)

We originally designed grey buttons to work inside the blue case bar (also known as enti

[2018-10-11 07:39] #8 closed, assigned to adamsilver, trevorsaint

[2018-10-11 07:40] #13 closed, assigned to nobody

[2018-10-11 12:05] DeniseHampson commented on #31
**When to use this component**
Use this component at the bottom of every page of your service.

Some services, for example the SSCS ‘Submit Your Appeal’, have to be completed in one session. These users will need more instant support, in which case the web form may not be the most appropriate. Instead, just a phone number will suffice here (or web chat if it becomes available). Each service will n

[2018-10-12 13:51] adamsilver commented on #27
Finished this iteration.

[2018-10-12 13:51] #27 closed, assigned to trevorsaint

[2018-10-12 13:52] #11 closed, assigned to nobody

[2018-10-12 13:52] #1 closed, assigned to trevorsaint

[2018-10-12 14:07] stevenwise-hmcts commented on #5
In Appeal a benefit decision (SSCS) submit your appeal journey we provide the ability for users to upload evidence to support their appeal.

We removed drag and drop as it wasn’t used and added complexity to the interface.

Many of our users would be using their mobile phones to take pictures of documents and upload. No need for drag and drop.

It's worth noting that 65% of our users are Assisted

[2018-10-12 14:12] PeteWilliams commented on #5
We tested this in CMC and never saw a single person try and drag and drop, in fact it caused confusion. Divorce tested it before us and found the same apparently.
Would agree it could do with a rethink.

We ended up with something quite different which you can see here:
https://hmcts-cmc-issue-prototype.herokuapp.com/prototype-mar-2018/certificate/upload-js
Username: cmc
Password: cmc_summer

(Whi

[2018-10-12 14:31] adamsilver commented on #41
Closing—covered in the GOV.UK Design System

[2018-10-12 14:31] #41 closed, assigned to nobody

[2018-10-12 14:35] #2 closed, assigned to nobody

[2018-10-12 14:38] adamsilver commented on #29
This component allows custom html to passed in as an item. The HTML/CSS for the alert with number hasn't been done yet.

[2018-10-15 06:46] adamsilver commented on #5
From Chris N: “Our users don't use drag and drop in user tests, we have no metrics on whether they use it in live. Our production code and prototype has drag and drop because that's what comes out of the box with dropzone and it was easier to leave it in than take it out.”

[2018-10-15 08:56] #42 closed, assigned to adamsilver, trevorsaint

[2018-10-18 15:46] adamsilver opened #43 "Help users filter a list of items"
Objective: let users filter a large number of items in a table such as a case list or something else like a timeline.

To make sure these designs are flexible and scalable we have tried to accommodate a large set of capabilities including search (see header), bulk actions, sorting (tables and other things), pagination, mobile, desktop in addition to filters. While also considering the varying leve

[2018-10-19 14:37] adamsilver commented on #42
Worth knowing this has been tested and worked well. Users spotted the button without a problem this time.

[2018-10-19 14:37] adamsilver commented on #37
I mentioned this to the GOV.UK Design System team and we agreed this should be added to their Button component page guidance.

HMRC identified the same need as us.

[2018-10-22 09:36] danielculpan03 commented on #37
Thanks for investigating this @adamsilver. What are the next steps (I'm thinking specifically from a content perspective - is there someone I need to liaise with)?

[2018-10-22 13:08] adamsilver commented on #37
@danielculpan03 that would be amazing. Could you link up with @stevenaproctor from HMRC?

[2018-10-22 13:09] adamsilver commented on #37
@danielculpan03 — could you liase with @stevenaproctor who's going to work on this (he works at HMRC).

[2018-10-22 13:20] ghost commented on #37
@danielculpan03 Hi...both @jennifer-hodgson and I are looking at this from HMRC's point of view. This is our issue https://github.com/hmrc/design-patterns/issues/147 that covers similar things.

We were thinking of adding some content to https://design-system.service.gov.uk/components/button/ to cover what we both need. Does that sound OK?

[2018-10-22 15:02] danielculpan03 commented on #37
Hi @stevenaproctor - sure. If you could let me know what you finally decide, that would be great.

Aside from the suggestions above, we'll also have additional button text to add once it's agreed among the teams here, so would be good to make sure we're consistent. Thanks!

[2018-10-24 12:15] adamsilver commented on #5
Waiting on a clear need for drag and drop before progressing this.

[2018-10-24 14:25] adamsilver commented on #39
![image](https://user-images.githubusercontent.com/37163/47437716-0b0e6780-d7a1-11e8-8739-cedfc212dcb1.png)

@trevorsaint put this together last week.

[2018-10-25 07:43] adamsilver commented on #43
Filtering a timeline (or something that's not a table)

![image](https://user-images.githubusercontent.com/37163/47483812-080f8780-d832-11e8-8bee-95acb1cb5acd.png)

[2018-10-25 07:48] adamsilver commented on #43
Filtering a table. The table has bulk actions, sorting functionality and pagination.

This variant works the same way on big and small screens where the filter is toggled on and off and overlays the results.

Importantly, on mobile, the results are not *completely* obscured by the overlay.

The trade off with this variant (especially on larger screens) is that the filter is less discoverable and i

[2018-10-25 07:55] adamsilver commented on #43
This variant shows the filters on the left. You may or may not need a toggle depending on your situation. For example, if it's a small table that doesn't need horizontal scrolling just show the filters when there's enough space.

![image](https://user-images.githubusercontent.com/37163/47484391-802a7d00-d833-11e8-9a48-e494d58b39cf.png)

[2018-10-31 13:14] adamsilver commented on #39
- check grey contrast
- perhaps a border to connect
- think about grouping/hierarchy for when there's a LOT of buttons
(speak more to Chris)

[2018-10-31 13:29] adamsilver commented on #29
From crit (31 October 2018)
- is this better as notifications?
- what does the user see when they click on it?
- consider the full journey?

[2018-10-31 13:45] adamsilver commented on #5
Show users progress while they are uploading a file.

[2018-10-31 13:49] adamsilver commented on #5
If there are limits on the file size we need to clearly denote that (hint?) and catch it when the user submits before making them wait for the server to respond.

[2018-11-05 07:12] #30 closed, assigned to adamsilver

[2018-11-05 07:20] adamsilver opened #44 "Global search"
**Objective:** Let users search across a service for specific things or everything.

**Togglable search:**
![image](https://user-images.githubusercontent.com/37163/47983266-ad481c80-e0ca-11e8-8255-83d9111abb94.png)
![image](https://user-images.githubusercontent.com/37163/47983314-d23c8f80-e0ca-11e8-8bf0-069e0829475e.png)

As the search is specific, we need visible label and hint text, so it's togg

[2018-11-05 07:29] adamsilver commented on #39
Improved the grey contrast

[2018-11-05 07:35] adamsilver commented on #39
Here's the component with some guidance added:
http://hmcts-design-system.herokuapp.com/components/menu

[2018-11-05 07:35] #39 closed, assigned to adamsilver

[2018-11-05 08:12] adamsilver commented on #43
@petegale and @johndoates asked me whether we need to show selected filters at the top.

Here's my answer:

Keeping selected filters in their original position alongside other selected filters is useful, because some users will remember where the filter was when they originally selected it.

We can help users by grouping the selected filters in a separate list at the top. This confirms to users th

[2018-11-05 11:00] PeteWilliams commented on #43
With regards to selected filters being shown, I'd be more inclined to agree if these were on display permanently - so the user always has a strong reminder that there are filters applied, and what they are. Hiding this in the slide-away panel makes it less useful as you're already looking at filters rather than looking at your dataset and wondering why it doesn't look right.

You could potentially

[2018-11-07 12:28] FranW1 opened #45 "Use of blue panel pattern, and HMCTS branding"
<img width="392" alt="screen shot 2018-11-07 at 12 01 26" src="https://user-images.githubusercontent.com/30631036/48131584-7a4b8780-e288-11e8-9d67-53609de2ae81.png">

Can we discuss how and when the blue panel pattern is used - it is currently used in video hearings and in SSCS.

Also, we need to discuss when to use HMCTS branding (service header, crest etc).

[2018-11-07 12:57] FranW1 commented on #45
<img width="383" alt="screen shot 2018-11-07 at 12 42 40" src="https://user-images.githubusercontent.com/30631036/48132529-d82d9e80-e28b-11e8-9951-8b45d78f3106.png">

VH are also using HMCTS branding - we should consider this too...

[2018-11-07 13:47] PamelaWoods opened #46 "Notify users of planned downtime in advance of it happening"
We have shutter page designs available for communicating a situation but no design for informing a user that a service will be out of action at a future date/time.  Do we need a broadcast banner design?

[2018-11-09 08:11] adamsilver commented on #43
Thanks @PeteWilliams for this. I'll quote you and respond underneath...

Great point. We had/have the same concerns as you. Here's some thoughts about this:

(1)    Our components allow users to have the filter panel constantly exposed on large viewports so they will be there. In other words, we don't have to let users toggle on big screens.

(2)    If we were to let users toggle (on large screens

[2018-11-09 08:14] adamsilver commented on #43
Pamela asked a question on slack...

Yes—here's some of our thinking so far:

1. Potentially only show the most popular/useful options within each category
2. Make each category (such as Type) togglable (we have done a design)
3. Show the most popular/useful categories (in the design above we only have two categories, so not applicable)
4. Checkboxes are not the only filter option types — could us

[2018-11-13 16:03] PamelaWoods commented on #31
@DeniseHampson - could you please add the original design showing Email (webforms), Webchat and Telelphone?  These options should then be configurable by a service to be turned on or off as required.  The latest prototype and designs on this ticket do not show Webchat.

[2018-11-14 10:58] #44 closed, assigned to adamsilver, trevorsaint

[2018-11-14 10:58] adamsilver commented on #44
http://hmcts-design-system.herokuapp.com/components/primary-navigation
http://hmcts-design-system.herokuapp.com/components/search

[2018-11-14 13:14] PamelaWoods opened #47 "Add citizen patterns from CMC (Pete W - change this title to be one of your patterns)"

[2018-11-14 13:18] PamelaWoods commented on #46
Next release of SIdAM could result in downtime for our services.  How do we communicate it?

[2018-11-14 13:18] blowfishsoup opened #48 "Interruption/explanation screen(s)"
At a certain pint in a user journey there is a need to either introduce or explain a concept or emphasise something important. In video hearings we have used an emerging pattern to introduce the concept of a video hearing and how it might be conducted. (examples to follow).

[2018-11-14 13:27] #48 closed, assigned to nobody

[2018-11-14 13:27] blowfishsoup commented on #48
Incorporated into another issue

[2018-11-14 13:35] PamelaWoods commented on #43
PUI won't be including this in MVP.  Ready to be tested.  Not likely to be in JUI by Dec 2018 to this level of detail.  VH will use filtering and search for Admin users.

[2018-11-14 13:37] PamelaWoods commented on #38
To take place 21st Nov 2018 - 1pm for 1.5 hours.

[2018-11-14 14:03] PamelaWoods commented on #5
Please review the CMC version of 'Add file' and the pattern to show the name of the file uploaded.  We now have several options to choose a file - one with a grey button, one with a white button, both different text.  Need to align @adamsilver @PeteWilliams

[2018-11-15 08:50] blowfishsoup commented on #31
<img width="1535" alt="screenshot 2018-11-15 at 09 29 16" src="https://user-images.githubusercontent.com/6122620/48543242-0842f600-e8b9-11e8-8783-6b38186603d6.png">

@FranW1  @DeniseHampson This is what we have so far for VH but happy to amend if there are different patterns available. We'll be testing with users on Wed 21 Nov.

[2018-11-15 10:05] DeniseHampson commented on #31
@FranW1 @blowfishsoup Hi, thanks. It will be so valuable to learn more about users' expectations for the different help channels available on VH.

One thing... the pattern says 'Contact us for help' rather than 'Contact us if you need help'. Small tweak I know, but we need consistency.

Also, do you think it would look better if a little extra vertical space is added between the 'Continue' button

[2018-11-15 10:07] adamsilver commented on #31
Also the left border for the [Details](https://design-system.service.gov.uk/components/details/) component is missing. That helps to group what has been expanded to the thing that the user clicked.

[2018-11-15 10:09] blowfishsoup commented on #31
@DeniseHampson @adamsilver Apologies - my fault about the border and the proper text - will sort those out now. I will also play with the spacing - I agree there needs to be more vertical space beneath the green button. Thanks for the feedback :-)

[2018-11-15 10:10] DeniseHampson commented on #31
Yes the left border! I knew there was something else missing. Good spot @adamsilver . I need to play more spot the difference :)

[2018-11-15 10:23] blowfishsoup commented on #31
<img width="1535" alt="screenshot 2018-11-15 at 10 22 37" src="https://user-images.githubusercontent.com/6122620/48546488-68896600-e8c0-11e8-96d8-eaa7e376e893.png">
@DeniseHampson @adamsilver Updated version

[2018-11-15 10:48] adamsilver commented on #31
I've added the guidance and the video here:
http://hmcts-design-system.herokuapp.com/patterns/get-support-online

I'm sure we'll still need to update bits of this. But it's a start.

[2018-11-15 10:51] adamsilver commented on #43
We've added the filter component, the pattern and some guidance. Will close this one for now.

[2018-11-15 10:51] #43 closed, assigned to adamsilver, trevorsaint

[2018-11-16 14:34] adamsilver opened #49 "Pagination"

[2018-11-19 14:24] adamsilver opened #50 "Bulk action/multiple select"
Let users select multiple items and action them in bulk.

![image](https://user-images.githubusercontent.com/37163/48712910-ddcda180-ec06-11e8-9078-9e9876625013.png)

[2018-11-21 13:30] stevenwise-hmcts commented on #5
The pattern isn’t optimal for users who need to upload multiple files.

Our users can upload many images of documents or photos as evidence with their appeal submission.

The pattern only allows one image to be selected at a time. It would be laborious for a user to keep returning to the file browser for each file upload.

The thumbnail preview images could create a very long and unwieldy page.

O

[2018-11-21 14:30] adamsilver commented on #5
@stevenwise-hmcts great feedback Steven.

A basic file input could be used with the Add Another pattern to let users upload multiple files in one go.

Also a file input can be configured to allow users to choose multiple files at once as an enhancement.

[2018-11-23 15:07] PeteWilliams commented on #31
We've added this to CMC. It appears at the bottom of every page, eg: https://hmcts-cmc-prototype.herokuapp.com/prototypes/features-to-be-built/dashboard/claimant-response/admit-the-claim/task-list/check-and-send (U: cmc p: cmc_summer)

We've not tested it yet, but some very minor points that we noticed when implementing it…

* I'd say you're better off making the form fields appropriate sizes rath

[2018-11-27 11:02] PeteWilliams commented on #47
Candidate patterns from CMC:
* Dashboard + Case view (currently being redesigned)
* Search (will add notes to existing entry)
* ~~File uploads~~ (added notes to existing issue ticket)
* ~~Address lookup~~ (is now in in the GDS design system)
* Preparing for a hearing (we've reused some work from SSCS, but I suspect this is a common need)
* Updated task list (TBC)
* Timeline (input, not playback)
*

[2018-11-28 13:43] adamsilver commented on #31
Could we add a label, in the same style as “Your email address” and “Your telephone number” above the big text box at the top?

[2018-11-28 13:49] PeteWilliams commented on #31
Quick mockup of the sort of thing I meant with regards to the H2s/links to avoid duplication:

![image](https://user-images.githubusercontent.com/1325606/49156100-71445800-f314-11e8-8f1e-64f3ce544348.png)

[2018-11-28 14:12] adamsilver commented on #31
I like that it's more concise, I just worry that it's harder to spot links this way when part of the h2s/h3s.

[2018-11-29 13:53] stevenwise-hmcts commented on #45
In the blue panel the typeface used for 'HMCTS' under isn't the official logo font. Should this be changed?

There's a simplified version of the crest which renders better on screen than the more detailed one used in the VH screenshots . Should the simplified version be used instead?

Related to this, the font used in the black header banner is also GDS transport. Again should that also be the HMC

[2018-11-29 13:55] stevenwise-hmcts opened #51 "Hearing support"
Provide support requirements to the tribunal.

![support-at-hearing](https://user-images.githubusercontent.com/34306621/49225320-a1a2f980-f3db-11e8-8612-53819638f909.gif)

[2018-11-29 14:21] stevenwise-hmcts commented on #5
We're testing a simplified version of evidence upload. It allows for multiple file uploads.

Any feedback would be appreciated.

![file-upload-cor-mvp](https://user-images.githubusercontent.com/34306621/49228224-c8b0f980-f3e2-11e8-87d6-dcb3f8fe9e6f.gif)

[2018-12-05 11:15] DeniseHampson commented on #31
This is what the design would look like following last week's discussion...
![image](https://user-images.githubusercontent.com/41999075/49510018-fa144400-f87e-11e8-94d5-3557cc5ffeb2.png)
![image](https://user-images.githubusercontent.com/41999075/49510044-07313300-f87f-11e8-9573-de8feb604453.png)

[2019-01-09 14:31] slagel opened #52 "Upload CCD sketch file to design systems"
Speak to Harry Slagel for sketch file

[2019-02-12 13:21] adamsilver commented on #37
Can we close this one now @danielculpan03 given the new guidance in the design system?

[2019-02-12 13:22] #38 closed, assigned to adamsilver

[2019-02-12 13:22] #49 closed, assigned to adamsilver

[2019-02-12 13:23] #34 closed, assigned to adamsilver

[2019-02-12 13:23] adamsilver commented on #33
This is now in the GOV.UK Design System:
https://design-system.service.gov.uk/components/summary-list/

[2019-02-12 13:23] #33 closed, assigned to trevorsaint

[2019-02-12 13:24] danielculpan03 commented on #37
@adamsilver - sure

[2019-02-12 13:25] adamsilver commented on #29
We'll be looking at this now for JUI.

[2019-02-12 13:26] adamsilver opened #53 "Badge"
![image](https://user-images.githubusercontent.com/37163/52638347-b31f7c00-2ec9-11e9-9b3f-eed2dc87cd21.png)

We have been using a badge component to flag particular bits of information about a case. For example whether it's urgent or reserved.

We'll stick to the three colours we picked for the Banners for these.

http://hmcts-design-system.herokuapp.com/components/banner

[2019-02-12 13:29] adamsilver opened #54 "Rich text editor"
![image](https://user-images.githubusercontent.com/37163/52638553-1e694e00-2eca-11e9-9411-e6bbaeeb302f.png)

Going to abstract rich text editor code in JUI.

[2019-02-12 13:30] #37 closed, assigned to danielculpan03

[2019-02-12 15:21] adamsilver commented on #53
Have added this, but I think we should refactor to use the GOV.UK Tag component.

[2019-02-12 15:21] adamsilver commented on #54
In production.

[2019-02-12 15:21] #54 closed, assigned to adamsilver

[2019-02-14 15:20] stevenwise-hmcts commented on #54
Suggest removing underline style. Underline isn't a GDS style. When viewed by citizens underlined text could be interpreted as links.

[2019-02-14 15:54] stevenwise-hmcts commented on #54
Italic isn't a GDS style. Suggest removing this options for content intended to be displayed to citizens

[2019-02-14 15:57] stevenwise-hmcts commented on #54
Consider adding a sub-heading style. Judges might use bold to create sub-headings which wouldn't be optimal for an accessibility perspective.

[2019-02-20 08:47] adamsilver opened #55 "Timeline: make more flexible"
- be able to link the title
- be able to add any HTML
- consider whether documents should be part of the interface or provided by HTML option instead.

[2019-03-06 12:33] #53 closed, assigned to adamsilver

[2019-03-06 12:38] adamsilver commented on #31
Now in the design system. Here's the latest prototype:
https://contact-us-prototype.herokuapp.com/

[2019-03-06 12:38] #31 closed, assigned to adamsilver

[2019-03-06 15:10] adamsilver commented on #32
https://govuk-currency-input.herokuapp.com/
https://github.com/hannalaakso/accessible-currency-input

Good one ^

[2019-03-07 08:35] adamsilver commented on #46
@PamelaWoods I believe this is covered in the GOV.UK Design System:
https://design-system.service.gov.uk/patterns/service-unavailable-pages/

I propose we close this.

[2019-03-07 14:42] PeteWilliams commented on #46
From what I can see the GOV.UK pattern only deals with when a service _is_ unavailable, rather than giving notice that a service _will be_ unavailable (at a future date), which is what Pamela was referring to.

[2019-03-07 15:09] PeteWilliams commented on #5
@stevenwise-hmcts You can allow selection of multiple files with the 'multiple' attribute on your file input field. Ie:

`<input type="file" name="filefield" multiple="multiple">`

Here's an example from CMC:
![file-upload](https://user-images.githubusercontent.com/1325606/53965301-d7493400-40e8-11e9-8789-c4bba51c7c79.gif)

Obviously, this is pretty hidden power-user feature, so you'd still need t

[2019-03-07 15:11] adamsilver commented on #32
I've created something for us to review on Wednesday.
http://hmcts-frontend.herokuapp.com/components/currency-input

[2019-03-07 15:20] PeteWilliams commented on #51
We re-used this pattern on CMC, with a couple changes which might be worth feeding back in:

We merged the header and first line as it seemed more efficient and avoided the more prescriptive 'click' instruction.

Also, unlike SSCS, our users would usually have to bring your own interpreter - the court will only provides one for Welsh interpretation. So we changed this and also moved it into the La

[2019-03-07 15:33] adamsilver commented on #46
Ah yes, I didn't read that correctly. I'd quickly suggest we use the Banner component (above the H1) for this. But then again, that might intefer with application banners/alerts. Perhaps it needs to be different, a bit like a cookie banner?

[2019-03-07 15:42] PeteWilliams commented on #32
One thing to consider is alignment. Traditionally in things like Excel or anything tabular, numeric/currency input is right-aligned so decimal places line up, tens line up with tens, hundreds line up with hundreds etc. Makes comparisons and any mental arithmetic easier.

This is less important when the input is used on it's own, but potentially more important when entering a whole bunch of numbers

[2019-03-08 07:44] adamsilver commented on #32
Thanks @PeteWilliams. I've updated it based on your crit:

![image](https://user-images.githubusercontent.com/37163/54014891-f9d55e80-4175-11e9-9263-ac48c581e97f.png)

[2019-03-08 08:11] adamsilver commented on #50
We can use the small input controls when they're released in GOV.UK Design System.

[2019-03-08 08:30] adamsilver commented on #50
Closing this as we now have a page:
http://hmcts-design-system.herokuapp.com/patterns/perform-a-bulk-action

[2019-03-08 08:30] #50 closed, assigned to nobody

[2019-03-11 09:50] adamsilver commented on #32
Going to use a text input with number pattern as explained here:
https://adamsilver.io/articles/form-design-when-to-use-the-number-input/

[2019-03-11 14:48] adamsilver commented on #1
From Chris N:

We did this on divorce. I think it was legacy on the divorce project. I'd recommend contacting Neil McWhinnie. He's the content designer and can give you more background.

Basically it's a common pattern elsewhere (eg. booking flights) where you want to ask for their name (first and surname) but also want middle names if appropriate. We needed them on divorce because the court compa

[2019-03-13 09:08] adamsilver commented on #32
Ready for review/approval: http://hmcts-design-system.herokuapp.com/components/currency-input

[2019-03-14 18:38] adamsilver opened #56 "Web chat"
GOV.UK Design System backlog ticket: https://github.com/alphagov/govuk-design-system-backlog/issues/108

**Initial design**

![image](https://user-images.githubusercontent.com/37163/54382676-607fde00-4688-11e9-996f-dd99e72878f4.png)
![image](https://user-images.githubusercontent.com/37163/54382684-64136500-4688-11e9-883c-7916953d1d30.png)
![image](https://user-images.githubusercontent.com/37163/54

[2019-03-14 18:43] adamsilver commented on #56
Notes from crit (13 March 2019):

- match the design system spacing, styles and alignment
- remove label colons
- remove required asterisks
- mark optional email address with “(optional)”
- Remove “please”
- Rewrite labels following styleguide
- Match button style for mobile
- Make button text “Start chat”
- Match input styles with Design System
- Make close button larger and capitalise.
- Conside

[2019-03-14 18:44] adamsilver commented on #56
I've mocked this up based on the crit and it's ready for more crit now:

![image](https://user-images.githubusercontent.com/37163/54383071-2c58ed00-4689-11e9-8c1a-7a53ceaf86b8.png)

Note: buttons are full width as per the standard small screen design. If the user makes the screen bigger then the buttons would be left aligned.

[2019-03-15 07:50] blowfishsoup commented on #56
Looks good Adam! In step 2 I guess we would have any disclaimers about what kind of advice we can/cannot give, how long the user is likely to be waiting (or their number in the queue) and any other information they might need to hand (case or reference numbers, etc.)?

It's a very small OCD type thing, but do you think step 3 would be easier to scan if we had a very subtle horizontal line between

[2019-03-15 08:42] adamsilver commented on #56
Thanks @blowfishsoup. I imagine the guidance in the design system would be the best place to put that information.

As for the borders, I try to use fewer borders:
https://medium.com/refactoring-ui/7-practical-tips-for-cheating-at-design-40c736799886#7e45

But I think the underlying issue you're spotting is fair and that we might want to differentiate between the members of the conversation a litt

[2019-03-15 09:49] PeteWilliams commented on #56
Looks much better!

We should try and get 'You are position number X in the queue' on that second screen, hopefully they're able to do it. Would be even better if on the first screen we can say 'there is currently a queue of X people' or 'Estimated wait time: XX minutes' or similar.

On the third screen, I'd be tempted to make the message box slightly smaller so you can see more of the message his

[2019-03-15 14:15] PeteWilliams commented on #32
Have reviewed/approved this. And also to note, this pattern has already been successfully tested in CMC.
Is there a label to add when something is approved, or do we just remove the 'in progress' one?

[2019-03-15 15:04] adamsilver commented on #32
We just remove it. Thanks, Pete. All done.

On Fri, 15 Mar 2019, 14:15 PeteWilliams, <notifications@github.com> wrote:

[2019-03-21 10:21] PeteWilliams commented on #15
Here's what we have in CMC for citizens:
![image](https://user-images.githubusercontent.com/1325606/54745931-c86f8080-4bc2-11e9-8528-598ef2dac7ae.png)

Here's what we have for organisations:
![image](https://user-images.githubusercontent.com/1325606/54745765-45e6c100-4bc2-11e9-9070-aaa914e20ac3.png)

And here's what we have for solicitors:
![image](https://user-images.githubusercontent.com/1325606

[2019-03-21 10:49] PeteWilliams commented on #46
I think the Banner component (the 'information' variant) would be fine.
I'd suggest we only show it on the first screen they see after they log in, and then don't show it again.
That seems sufficient, plus that way it's unlikely to conflict with any success/warning banners that would normally be the result of an action.

[2019-03-21 10:51] PeteWilliams commented on #46
Although, that does present a problem in the scenario where the warning only goes up at short notice, and an active user doesn't see it because they were still logged in…

[2019-03-21 11:13] adamsilver commented on #56
The button is currently pinned to the bottom and gives the impression that there are no other fields to fill out. Make it not sticky/make the window big enough for all fields?

Question: do we remove the optional message field or remove the marking as optional (make it required)

When the operator is typing (or they've typed a message) is this announced to screen readers? Do we need a live region?

[2019-03-21 11:16] #32 closed, assigned to adamsilver

[2019-03-21 11:32] adamsilver commented on #46
Decisions:
- The first screen the user sees (after logging in) should show the message
- The message should be the blue “information” Banner ([see component](http://hmcts-design-system.herokuapp.com/components/banner))
- Get a content designer to decide the content
- No dismiss button needed.
- It will disappear after the user has first seen it (navigate away or refresh the page)
- What's the name

[2019-03-21 11:39] adamsilver commented on #15
@stevenwise-hmcts Could you add your statement of truth examples to this ticket please.

[2019-03-21 11:51] adamsilver commented on #47
Actions:
- Pete to create a ticket for Search and Preparing for a hearing
- Future crit where designers bring different needs and flows for prepare a hearing (4 April 2019)
- Make a ticket to propose the timeline (as inputs) component and review
- Make a ticket to propose gathering financial details component and review

[2019-03-21 11:54] adamsilver opened #57 "Task list pattern variations"

[2019-03-21 12:56] stevenwise-hmcts commented on #15
We don't strictly have an official statement of truth, in that it's not a requirement for our service.

The line 'The information I have provided in this appeal is accurate, to the best of my knowledge.' is primarily there to encourage the user to pause and review the information in the check your answers page'

They give permission for the tribunal to respond to a representative if they have one.

[2019-03-25 12:21] stevenwise-hmcts commented on #51
We've since changed '**can't'** to '**cannot**' as negative contractions are often missed and read as positive.

Thanks for the comments @PeteWilliams
In the SSCS submission journey users have previously told us they need support so are required to provide at least one item they need support with. If I remember correctly there was a technical restriction with the 1per page framework which meant th

[2019-03-28 09:18] livsharp commented on #15
Probate has this:

![Screen Shot 2019-03-28 at 09 07 29](https://user-images.githubusercontent.com/35372315/55144631-29560600-5139-11e9-9bfa-2122129b252e.png)

We also have a longer legal statement and declaration, which might be relevant here, or a candidate for a new pattern. I can't find much about it in the research library but will ask Femi to fill in what he remembers.

This is what's live (

[2019-03-29 09:33] stevenwise-hmcts commented on #56
SSCS tested web chat and web forms.
UR report at https://tools.hmcts.net/confluence/x/0IhoOw
The findings were discussed at the design crit on 28 March 2019

[2019-04-04 09:55] PeteWilliams opened #58 "Search"
A ticket to expand on the [Search component](http://hmcts-design-system.herokuapp.com/components/search) and add examples of variations.

On the CMC solicitor service, we have a slightly different search pattern:

https://hmcts-cmc-issue-prototype.herokuapp.com/prototype-mar-2018/dashboard
U: cmc
P: cmc_summer

Once a user logs in, they see a search box on their dashboard which allows them to sear

[2019-04-09 15:05] livsharp commented on #46
@adamsilver

Probate and Divorce were asked last week by Sue Lees to show a message explaining the service is on go slow so things will take a bit longer than normal.

We didn't need to show it in the end, but I was going to go for the warning text component (https://design-system.service.gov.uk/components/warning-text/)

This sounds like a better solution tho - can this use case be included in th

[2019-04-09 15:21] livsharp opened #59 "Service unavailable and service down pages"
Relates to https://github.com/hmcts/design-system-backlog/issues/14

Do we want to bring in our own patterns for service unavailable and service down? @FranW1 you mentioned it might be useful to pattern library these but I notice they were removed from our old library.

Recently put these together for probate (thanks @miaodon for crit).

Thoughts @FranW1 @miaodon @adamsilver ? They are v close to

[2019-04-10 14:05] adamsilver commented on #58
How does the screen look when the user enters a claim number incorrectly or the system can't find a case? Is there an error summary and inline error message above the box?

BTW, the search _component_ in the design system will allow you to present a search form like this.

We wrestled with this type of thing on PUI for a while. In the end, we went with a case list. We did this because we didn't wa

[2019-04-11 09:36] PeteWilliams commented on #58
The error looks like this:

<img width="1113" alt="Screenshot 2019-04-11 at 10 32 48" src="https://user-images.githubusercontent.com/1325606/55946850-529c8900-5c45-11e9-843e-088bc01e48c8.png">

We also ummed and erred on the case list thing - I did design one at one point, but it was never built. The thinking was we'd start with the simple option until we had evidence of a user need for a case lis

[2019-04-25 08:36] Granitehead commented on #52
Hi I work in HMPPS, digital studio Sheffield.  We're looking at building an ALPHA for the probation teams in the Crown and Magistrates court space.  We're currently exploring what patterns we can use looking at the GDS pattern library but have come across the HMCTS design system which could be really useful to us.  Would it be possible to share your Sketch file?  Happy to share our project/journey

[2019-05-15 09:46] miaodon commented on #46
@PamelaWoods I'm working on a page for the HMCTS design system to cover this.

@livsharp, do you have a copy of the 'going slowly' message you drafted? We could add this as a suggestion.

@adamsilver, we used this warning banner on Employment Tribunals this week.

Any feedback welcomed as we're migrating quite a few of our services in the near future.

<img width="840" alt="Planning maintenance ba

[2019-05-15 10:12] PeteWilliams commented on #46
@miaodon - there's now an entry for this in the design system: https://hmcts-design-system.herokuapp.com/patterns/be-informed-of-downtime

[2019-05-15 10:15] miaodon commented on #46
Thanks @PeteWilliams On citizen apps, we used to only use the exclamation mark for legal call outs. Has this changed?

Maybe we can make this section work harder by adding the service unavailable pages (planned and unplanned)? I'll join your weekly call tomorrow to discuss.

[2019-05-16 09:41] livsharp commented on #46
@miaodon "It’s taking longer than usual to process applications for probate. You'll hear back about your application within 4 weeks."

[2019-08-23 11:00] stevenwise-hmcts opened #60 "Service time out"

[2019-08-23 11:34] stevenwise-hmcts commented on #60
![time-out-modal](https://user-images.githubusercontent.com/34306621/64031892-499f4c00-cb41-11e9-9cd0-0ffc75228467.png)

**When to use this**
If a user has entered sensitive information which could be accessed if the device is left available for others to use. For example a computer in a library or other public place.

This pattern is most useful when there is no functionality for a user to save t

[2019-08-23 11:58] stevenwise-hmcts opened #61 "Key information panel"
**Submit your appeal confirmation screen**

![image](https://user-images.githubusercontent.com/34306621/63590962-5c47dd00-c5a5-11e9-8f0c-1120b14f948f.png)

**Track your appeal**

![track-your-appeal](https://user-images.githubusercontent.com/34306621/63591104-af219480-c5a5-11e9-923f-e3c9e6e74ed1.png)

**Online resolution preliminary view**

<img width="1007" alt="online-resolution-preliminary-view

[2019-08-23 13:07] stevenwise-hmcts opened #62 "Calendar date picker"
![calander-date-picker](https://user-images.githubusercontent.com/34306621/63594810-5c4cda80-c5af-11e9-852f-194ad712942d.gif)

**Prototype**
https://track-your-appeal.herokuapp.com/prototype-beta-uc-001/submit-your-appeal/016-hearing-dates
(user: Justice pw: R3form)

**When to use this pattern**
If users are required to enter multiple dates.

In the SSCS Appeal a benefit service we saw in usabilit

[2019-08-23 13:30] stevenwise-hmcts commented on #62
The date picker pattern has been adapted for use on the new SSCS1 paper form.

We tried using standard date fields to enable users to provide multiple dates. Users found the page very busy and somewhat overwhelming. They felt like there was a lot to fill in although the date fields were optional - they only had to fill them in if there were dates they couldn't attend a hearing.

The more visual ca

[2019-08-23 14:44] stevenwise-hmcts opened #63 "Structured answers (SSCS - Reasons for appealing)"
![reasons-for-appealing](https://user-images.githubusercontent.com/34306621/63601084-af795a00-c5bc-11e9-9c29-d4c7160bd288.gif)

**When to use this pattern**

If users need or want to provide longer and more complex responses. They need help in focusing on relevant points and structuring their response.

Those reading the answers would also benefit from users answers being more focused and structur

[2019-08-23 15:35] stevenwise-hmcts opened #64 "Find information from document"
![image](https://user-images.githubusercontent.com/34306621/63603179-fc5f2f80-c5c0-11e9-8243-7c2027484451.png)

**When to use it**
User needs to be directed to specific information on documents or other artefacts

**How it works**
The macro or zoomed out view gives a general overview of the document and key items of content. This helps a user to identify the document and orientate themselves.

The

[2019-09-26 11:08] PeteWilliams opened #65 "Help module"
It would be good to update the help module on the design system as the current version is out of date and there are already some inconsistencies across the implementations of it.

## Current implementations

### CMC
![image](https://user-images.githubusercontent.com/1325606/65683489-3b1b5600-e055-11e9-8144-3236a9d5a2b8.png)

### SSCS
![image](https://user-images.githubusercontent.com/1325606/65683

[2019-10-22 09:17] joeedhorton commented on #56
Hi, I'm Joe. One of the new Interaction Design Interns at the HO. Is this still active (WIP)? I have worked on some designs for webchat and wondered whether it might be worth sharing? Thanks

[2019-10-22 09:21] PeteWilliams commented on #56
Hi @joeedhorton. An MVP of webchat has gone live. It's very MVP though as they've just used an off-the-shelf product and done a light reskinning. Would be good to see what you've come up with though as I believe they are looking to develop it further in the future.

[2019-10-22 10:43] joeedhorton commented on #56
Thanks, @PeteWilliams. Ah okay, sounds good. It would also be nice to hear some feedback/crit. You can find the designs in this [Figma page](https://www.figma.com/file/SA64gOrIxPGiAriw1ABZUIMx/gov.uk_webchat?node-id=0%3A1). Thanks